.buttons{
    display: flex;
    flex-wrap: wrap;
    text-align: left;
}
.buttons button{
    
    font-size: 1.2rem;
    color: rgb(190, 210, 198);
    padding: 10px;
    margin: 20px;
    background-color: rgb(5, 70, 49,0.9);
    font-weight:900;
    border-radius: 20%;
    transition: all 0.5s;
  }

  .buttons button:hover{
    background-color: rgb(190, 210, 198,0.9);
    color: rgb(5, 70, 49);
  }
