.conteiner{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    background:  linear-gradient(to right, rgba(128, 249, 119, 0.8), rgba(255, 255, 255, 0.8));
    margin-top:30px;
}
.conteiner h1{
 font-size: 3.5rem;
 font-weight:800;
 color: rgb(0, 0, 0);
 padding-left: 50px;
 padding-right: 50px;
}
.conteiner h3{
    font-size: 2rem;
    font-weight: 700;

}

.conteiner img{
    border-radius: 20%;
    box-shadow: inset 6px 6em 6em 3px rgb(125 175 29 / 50%), 13px 5px 18px 1px rgb(107 129 101), 1em 3em 7em 5px rgb(24 8 8);

}
.diets{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    align-content: center;
}

.diets ul{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    align-content: center;
    margin: 10px;
    padding: 10px;
    font-size: 1.5rem;
    font-weight:600;
}

.diets li{
    margin: 5px;
    padding: 20px;
    background-color: rgba(96, 191, 37, 0.7);
    box-shadow: inset -13px 6em 9em 3px rgb(103 149 13 / 50%), inset 3px 3px 10px 5px rgb(25 66 12), 0.3em 0.3em 1em rgb(36 33 33 / 100%);
    border-radius: 25%;
}



.summary{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 20px;
}

.summary h2{
    font-size: 2.5rem;
    font-weight:800;
}

.summary p{
    font-size: 1.2rem;
    font-weight:600;
}
.steps{
    padding: 60px
}
.steps h2{
    font-size: 2.5rem;
    font-weight:800;
}
.steps h4{
    font-size: 1.5rem;
    font-weight:600;
}
.steps p{
    font-size: 1.2rem;
    font-weight:600;
}