

.recipe{
    background:  linear-gradient(to right, rgba(128, 249, 119, 0.8), rgba(255, 255, 255, 0.8));
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    padding: 20px;  
    border-radius: 5%;
    border: 1px solid black;
    flex: 25%;
    max-width: 300px;

    
    
}
.recipe img{
    width: 250px;
    border-radius: 15%;
    border: 2px solid #035106;
    border-bottom: 3px solid #035106;
    border-right:  3px solid #035106;
    transition: all 1.5s ease-out
}

.recipe img:hover{
    
    box-shadow: 10px 10px 0px 0px rgba(0,0,0,0.3);
    border: 2px solid #d5ce06;
    border-color:  #d5ce06;
}

.recipe h1{
    
    font-size: 1.5rem;
   padding-left: 25px;
   padding-right: 25px;
    text-decoration: none;
    font-weight:900;
    color: rgb(0, 0, 0);
    text-shadow: -2px -2px 0.5px #a0ffa3, 2px 2px 0.5px #a0ffa3, -2px 2px 0.5px #a0ffa3, 2px -2px 0.5px #a0ffa3;    
}

.recipe ul{
    display: flex;
    flex-wrap: wrap;
    
    list-style: none;
    font-weight:700;
    color: rgb(20, 23, 21);

}
.recipe li{
    align-items: center;
    margin: 2px;
    padding: 2px;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    font-size:1rem;
    

}
.recipe{
    text-align: center;
}

.delete button{
    margin-right: auto;
    font-size: 0.5rem;
    align-content: center;
    color: rgb(190, 210, 198);
    background-color: rgb(5, 70, 49,0.9);
    font-weight:900;
    transition: all 0.5s;

}
.delete button:hover{
        color: rgb(5, 70, 49);
    background-color: rgb(190, 210, 198,0.9);
}